<div class="container">
  <div>
    <img src="https://www.gloria.com.pe/images/noticias/Frame-8.png" class="img-fluid" alt="Products list">
  </div>

  <h1>Formulario de procedencia del producto</h1>

  <form>
    <div class="mb-4">
      <label for="abProduct" class="form-label">AB del Producto</label>
      <input type="text" class="form-control" id="abProduct" aria-describedby="emailHelp">
    </div>
    <div class="mb-4">
      <label for="productDescription" class="form-label">Descripción del producto</label>
      <input type="text" class="form-control" id="productDescription">
    </div>
    <div class="mb-4 d-flex gap-2">
      <button type="submit" class="btn btn-dark">Agregar</button>
      <button type="submit" class="btn btn-primary">Editar</button>
      <button type="submit" class="btn btn-danger">Eliminar</button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
